*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Druk Wide2;
    margin: 0;
    padding: 0;
    text-align: justify;
}

header{
    padding: 20px;
    background: url(/img/header.jpg);
    text-align: center;
}
h1{
    color:#fff;
    font-family: 'Agency FB';
    font-style: italic;
    font-size: 80px;
    text-shadow: 6px 6px 0px #000;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    text-align: justify;
    justify-content: center;
}

nav a{
	display: inline-block;
	text-decoration: none;
	color: #000000;
	padding: 14px 20px;
	border-radius: 30px;
}

nav a:hover {
	background-color: #000;
	color: #fff;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex: 70px;
    background-color: #fdfbfb;
   
}

section{
    flex: 40%;
    background-color: white;
    padding: 30px;
}

@font-face {
    font-family: Druk Wide2;;
    src: url(/img/fuente2.otf);
}


footer{
    padding: 0px;
    text-align: center;
    height: 150px;
    background-color: #000;
}
footer h2{
    font-size: 20px;
    color: #f2f2f2;
    padding: 20px;
}
@media screen and (max-width: 700px){
    nav, .row{
        width: 50%;
        flex-direction: column;
    }
}

.headerimg{
    width: 100%;
}